{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <p class="text-center p-2">API Corner</p>
    <div class="row mt-4">
        <div class="col-md-4 shadow mx-auto" style="height: 40vh; font-size: 5vh; padding: 4%;">
            API & API METHODS

            <a href="{% url 'personaldetailsendpoint' %}"><button type="button" class="btn btn-outline-info btn-sm">MY-DETAILS
                    ENDPOINT</button></a>
        </div>
        <div class="col-md-7 shadow p-3 ">
            <!-- First Row -->
            <form action="" method="POST" class="mb-3">
                {% csrf_token %}

                <div class="row mb-3">
                    <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">First Name</label>
                        <input type="firstname" class="form-control" id="first_name" aria-describedby="emailHelp"
                            name="first_name">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="lastname">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name">
                    </div>
                </div>
                <!-- second row -->
                <div class="row mb-3">
                    <div class="form-group col-md-6">
                        <label for="age">Your Age</label>
                        <input type="number" class="form-control" id="age" aria-describedby="emailHelp" name="age">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Gender">Gender</label>
                        <input type="text" class="form-control" id="gender" name="gender">
                    </div>
                </div>
                <!-- Third Row -->
                <div class="row mb-3">
                    <div class="form-group col-md-6">
                        <label for="speciality">Speciality</label>
                        <input type="text" class="form-control" id="speciality" aria-describedby="emailHelp"
                            name="speciality">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="campus">Attended Campus/College</label>
                        <input type="text" class="form-control" id="campus" name="campus">
                    </div>
                </div>

                <button type="submit" class="btn btn-outline-info btn-sm" id="submit">Add Details</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}